body {
    font-family: OpenSans-Regular, Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.post-header h1.title {
    margin: 4px 0 0 0;
}

code {
    background: #ffff4d;
    padding: 0 5px;
}

h2 {
    text-align: center;
    margin: 40px 0 30px;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-weight: bold;
    margin-top: 40px;
}

h4 a {
    font-weight: normal;
}

.highlight {
    background-color: #272822;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: #272822 !important;
}

strong {
    color: #ff3502;
}

::selection {
    color: #fff;
    background: #1890ff;
}

blockquote {
    color: rgb(91,91,91);
    border-left: 5px solid #3700ff;
    background: rgba(158, 158, 158, 0.1);
    padding: 1px 0px 1px 10px;
    margin: 30px 0px;
    font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: normal;
    font-size: 0.9rem;
}

blockquote p {
    color: #3f3f3f;
    line-height: 1.5;
    font-size: 18px;
    margin: 20px;
    padding: 0px;
}